stages:
  - build
  # - deploy

spring_build:
  stage: 
    build
  only:
    - dev
  before_script:
    - cd hospital_here/hospital_here
    - sudo chmod +x gradlew
  script:
    - ./gradlew clean build
  artifacts:
    paths:
      - hospital_here/hospital_here/build/libs/*.jar
    expire_in: 10m
  after_script:
    - echo 'build success..'
    - sudo cp hospital_here/hospital_here/build/libs/hospital_here-0.0.1.jar ~elice/hospital/backend/

# spring_deploy:
#   stage: 
#     deploy
#   only:
#     - dev
#   # before_script:
#     # - ~/builds/kill_spring.sh
#   script:
#     - sudo systemctl restart hospital-spring
#   after_script:
#     - echo 'deploy success..'
