<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create User</title>
</head>
<body>
<h1>Create User</h1>
<form th:action="@{/users}" method="post">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" th:value="${user.email}">
    <br>
    <label for="pw">Password:</label>
    <input type="password" id="pw" name="pw" th:value="${user.pw}">
    <br>
    <button type="submit">Create</button>
</form>
<a th:href="@{/users}">Back to User List</a>
</body>
</html>
